
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #437230;
    color: #fcfcfc;
}

h1 {
    color: #2c3e50;
    text-align: center;
    margin-bottom: 20px;
}

form {
    background-color: #51b43305;
    padding: 20px 50px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    max-width: 400px;
    transition: transform 0.3s ease;
}

form:hover {
    transform: scale(1.20);
    transition: 1s;
    background-color: #962f2f;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="number"]:hover, input[type="number"]:focus {
    border-color: #3498db;
    box-shadow: 0 0 8px rgba(52, 152, 219, 0.5);
}

button {
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #afb929;
    transform: translateY(-2px);
    
}

button:active {
    background-color: #1c6ea4;
    transform: translateY(0);
}


h2 {
    text-align: center;
    margin-top: 20px;
    color: #f7e9e9;
}

span {
    color: #000000;
    font-weight: bold;
}


@media (max-width: 600px) {
    form {
        padding: 15px;
    }

    button {
        padding: 8px 0;
        font-size: 14px;
    }
}








